<p id="notice"><%= notice %></p>

<h1>Lifepointes</h1>

<table>
  <thead>
    <tr>
      <th>Fname</th>
      <th>Lname</th>
      <th>Email</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lifepointes.each do |lifepointe| %>
      <tr>
        <td><%= lifepointe.fname %></td>
        <td><%= lifepointe.lname %></td>
        <td><%= lifepointe.email %></td>
        <td><%= lifepointe.phone %></td>
        <td><%= link_to 'Show', lifepointe %></td>
        <td><%= link_to 'Edit', edit_lifepointe_path(lifepointe) %></td>
        <td><%= link_to 'Destroy', lifepointe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lifepointe', new_lifepointe_path %>
