<!DOCTYPE html>
<html>
  <head>
    <title>Elevations</title>
    <%= csrf_meta_tags %>    
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="https://strictcity.live/elevation/css/styles.css">
    <link rel="stylesheet" type="text/css" href="https://strictcity.live/elevation/css/forms.css">
    <link rel="stylesheet" type="text/css" href="https://strictcity.live/elevation/css/buttons.css">



  </head>

  <body>
  	 <div class="header">
       <div class="container">
          <div class="row">
             <div class="col-md-5">
                <!-- Logo -->
                <div class="logo">
                   <h1><%= link_to "LifePoint", root_path, class: "navbar-brand" %></h1>
                </div>
             </div>
             <div class="col-md-5">
                
             </div>
             <div class="col-md-2">
                <div class="navbar navbar-inverse" role="banner">
                    <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                      <ul class="nav navbar-nav navbar-right">
                        <% if user_signed_in? %>
                        <ul class="nav navbar-nav">
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
                          <ul class="dropdown-menu animated fadeInUp">
                            <li><%= link_to 'New Lifepointe', new_lifepointe_path %></li>
                            <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
                            <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
                          </ul>
                        </li>
                      </ul>
                        <% else %>
                        <li><%= link_to 'Signup', new_user_registration_path %></li>
                        <li><%= link_to 'Login', new_user_session_path %></li>
                        <% end %>
                        
                        </li>
                      </ul>
                    </nav>
                </div>
             </div>
          </div>
       </div>
  </div>
    	<%= yield %>
</body>
</html>
